{% extends 'base.html' %}

<body>
    {% block content %}
    <div class="container">
        <h2 class='text-center mt-5 mb-5 text-decoration-underline'>Import Data To Database Tables</h2>
        

        <form action="{% url 'import_data' %}" method='POST' class='row g-2' enctype='multipart/form-data' style="max-width:600px">

            {% csrf_token %}

            <div class="form-group ">
                <label for="file_path"><b>Upload CSV File</b></label>
                <input type="file" name='file_path' class='form-control' required>                
            </div>

            <div class="form-group">
                <label for="model_name">
                    <b>Select Database Table</b>
                </label>
                <select  name='model_name' class='form-control' required>
                    <option value="" disabled selected>Select</option>

                    {% for model in models %}
                    <option value="{{model}}">{{model}}</option>
                    {% endfor %}

                </select>                
            </div>

            <input type="submit" value='Import Data' class='btn btn-primary mt-5'>
        </form>
        <p class='text-left bold mt-1 mb-1 fw-lighter fst-italic text-decoration-none'>*CSV file fields must match with the table fields in the database.</p>
        <p class='text-left bold fw-lighter fst-italic text-decoration-none'>*CSV file header must match with the table fields name.</p>

        {% include 'alerts.html' %}
    </div>    
    




  {% endblock %}
</body>
