{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static ' images/data.svg' %}">
    <title>Data Automation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

</head>
<body>
    <!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand fw-bolder" href="{% url 'home' %}">Data Automation</a>
      <div>
        {% if user.is_authenticated %}
          <div>
            <span class='text-white fw-bold'>Welcome, {{user}} <span>&nbsp;
            <a class=" text-white fw-bold float-right text-decoration-none btn btn-danger pr-3" href="{% url 'logout' %}">LogOut</a>
        </div>


        {% else %}
        <a class="text-white fw-bold text-bold float-right text-decoration-none p-2" href="{% url 'login' %}">SignIn</a>
        <a class=" text-white fw-bold float-right text-decoration-none btn btn-primary pr-3" href="{% url 'register' %}">Register</a>

      {% endif %}
      </div>

     
      
    </div>
  </nav>
  
 
    
    {% block content %}
        

    {% endblock %}





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
</body>
</html>