{% extends 'base.html' %}


{% block content %}

{% load crispy_forms_tags %}
{% include 'alerts.html' %}

<div class="container mt-5 mb-5 fw-bold shadow rounded p-3" 
style="color:#44403c; max-width:550px;">
        <h1 class='text-center fw-bolder text-uppercase' >Compress Image </h1>

        <form action="{% url "compress_image" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class='form-group'>
                {{ form | crispy }}
            </div>

            <div class="form-group">
                <input type="submit" value='Compress' class='btn btn-warning'>
            </div>

        </form>

</div>








{% endblock %}